# Caminho para o JSON do Firebase
FIREBASE_CREDENTIALS_PATH=app/core/serviceAccountKey.json

# Chave de API do Firebase (Encontrada nas configurações do projeto no console)
FIREBASE_WEB_API_KEY=SUA_CHAVE_AQUI_DEVE_SER_TROCADA