# Caminho para o JSON do Firebase
FIREBASE_CREDENTIALS_PATH=app/core/serviceAccountKey.json

# Chave de API do Firebase (Encontrada nas configurações do projeto no console)
FIREBASE_WEB_API_KEY=SUA_CHAVE_AQUI_DEVE_SER_TROCADA

DATABASE_URL=SUA_CHAVE_AQUI_DEVE_SER_TROCADA

# chave necessária pra requisições com o gemini 
GEMINI_API_KEY=SUA_CHAVE_AQUI_DEVE_SER_TROCADA

# Chaves necessarias pra subir imagens
CLOUDINARY_CLOUD_NAME=SUA_CHAVE_AQUI_DEVE_SER_TROCADA
CLOUDINARY_API_KEY=SUA_CHAVE_AQUI_DEVE_SER_TROCADA
CLOUDINARY_API_SECRET=SUA_CHAVE_AQUI_DEVE_SER_TROCADA